.button {
    width: 100%;
    height: 56px;
    color: var(--main-color);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color .15s,color .15s;
}

.button:hover {
    background-color: var(--main-bg-color);
}
