.row-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--main-bg-color), var(--main-color));
    border-image-slice: 1;
}

.row-profile:last-child {
    border-bottom: none;

}

.row-profile__title {
    white-space: nowrap;
    color: rgba(153, 153, 153, 1);
}
