.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, rgb(241, 247, 252), rgb(51, 144, 236));
    border-image-slice: 1;
}

.row:last-child {
    border-bottom: none;

}

.row__title {
    white-space: nowrap;
    color: rgba(153, 153, 153, 1);
}