.delete-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 15px;
  padding: 8px;
  background: none;
  box-shadow: 0 1px 4px 1px #24242412;
}

.delete-chat:hover {
  background: var(--main-error-color);
}
