.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
}

.chat__dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-normal-color);
}

.chat__dialogs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    border: 1px solid var(--main-normal-color);
}
