<div class="main">
    <div class="profile">
        {{> avatar name='Иван' }}
        <div class="profile__info">
            {{> row title='Почта' data='pochta@yandex.ru' }}
            {{> row title='Логин' data='ivanivanov' }}
            {{> row title='Имя' data='Иван' }}
            {{> row title='Фамилия' data='Иванов' }}
            {{> row title='Имя в чате' data='Иван' }}
            {{> row title='Телефон' data='+7 (909) 967 30 30' }}
        </div>
        <div class="profile__menu">
            {{> rowMenu href='profileChangeInfo' color='normal' title='Изменить данные' }}
            {{> rowMenu href='profileChangePassword' color='normal' title='Изменить пароль' }}
            {{> rowMenu href='sinIn' color='exit' title='Выход' }}
        </div>
    </div>
</div>