<div class="main">
    <div class="profile">
        <a href="/profile" class="back">Назад</a>
        {{> avatar }}
        <div class="profile__info">
            {{> rowChange type="password" title='Старый пароль' data='' }}
            {{> rowChange type="password" title='Новый пароль' data='' }}
            {{> rowChange type="password" title='Повторите пароль' data='' }}
        </div>
        <div class="profile__menu">
            <a href="/profile">{{> button text='Сохранить'}}</a>
        </div>
    </div>
</div>
