.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 4px 1px #24242412;
}

.chat-info {
  display: flex;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.avatar {
  position: relative;
  flex: 0 0 42px;
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-img-none {
  position: relative;
  flex: 0 0 42px;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--main-color), var(--main-bg-color));
}

.title {
  display: flex;
  margin-bottom: 5px;
}

.subtitle-text {
  font-size: 14px;
  text-overflow: ellipsis;
  width: 245px;
  white-space: nowrap;
  overflow: hidden;
  color: var(--secondary-text-color);
}

.menu {
  border-radius: 50%;
  background: #fff;
  padding: 8px;
  cursor: pointer;
}

.menu:hover {
  background-color: var(--light-secondary-text-color);
}

.chat-utils {
  width: 60%;
  display: flex;
}

.chat-util {
  width: 25px;
  height: 25px;
}

.sidebar-search {
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-search-border-color);
  border-radius: 22px;
  padding: 0 20px;
}
