.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error__code {
    font-size: 40px;
}

.error__text {
    margin-top: 20px;
    font-size: 20px;
}

.error_link {
    margin-top: 69px;
    color: var(--main-color);
}

.error_link:hover {
    color: var(--main-normal-color);
}
